@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Figtree", sans-serif;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #fcfffc, #fcfffc);
}

*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to left, #c5dec5, #9fb39f);
  border-radius: 10px;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main,
.main {
  min-height: 95vh;
  width: 100%;
  max-width: 2000px;
}

/*  Utilities */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
